    * {
        font-family: sans-serif;
        text-transform: uppercase;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        clear: right;
        float: right;
    }
    h1 {
        float: right;
        clear: right;
        color: #2d3c49;
        font-family: sans-serif;
    }
    h2{
        float: right;
        clear: right;
    }
    p{
        clear: right;
        float: right;
        color: #7d97ad;
    }
    .contained {
        margin: 10px;
        color: #2d3c49;
    }
    img {
        float: right;
        clear: right;
    } 